.contenedor{
    margin:auto;
    text-align: left;
    border: 1px solid #999999;
    margin: 10px 10px 10px 10px;
    background-color: #FBF9F0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.cabecera{
    background-color: #F0F0FF;
}
.contenido{
    display: flex;
}
.contenido-izquierdo{
    flex: 1;
}
.contenido-derecho{
    flex: 1;
}
.numero{
    font-size: 4em;
}